<footer class="footer">
  <div class="footer-container">

    <!-- Enlaces -->
    <div class="footer-section">
      <h3>Tienda</h3>
      <ul>
        <li><a routerLink="/tienda">Inicio</a></li>
        <li><a routerLink="/user/pedidos">Mis pedidos</a></li>
        <li><a routerLink="/user/perfil">Mi cuenta</a></li>
        <li><a routerLink="/user/checkout/cart">Carrito</a></li>
      </ul>
    </div>

    <!-- Contacto -->
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>📧 soporteelectrotienda.com</p>
      <p>📞 +51 999 888 777</p>
      <p>📍 Lima, Perú</p>
    </div>

    <!-- Redes -->
    <div class="footer-section">
      <h3>Síguenos</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 ElectroTienda. Todos los derechos reservados.
  </div>
</footer>
